.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features-list-item {
  max-width: 450px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-list-title {
  margin-bottom: 10px;
  @include font(700, 14px, 1.143, 0.03em);

  text-transform: uppercase;
  text-align: center;
  color: var(--main-color);
}

.features-list-text {
  @include font(400, 14px, 1.714, 0.03em);
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .features-list-item {
    width: 354px;
    margin: 15px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .features-list-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .features-list-item {
    width: 270px;
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
