.nav-list-link,
.contacts-list-link,
.footer-link {
  font-style: normal;

  transition: color 250ms var(--cubic);
}

.nav-list-link:hover,
.nav-list-link:focus,
.contacts-list-link:hover,
.contacts-list-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
