.footer-form__input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 16px;
  color: $color-main;
  transition: border $time-hover $cubic-for-all;
  margin-bottom: 20px;

  &:focus {
    outline: none;
    border: 1px solid $color-accent;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.footer-form__icon {
  width: 100%;
  height: 100%;
}
.footer-form__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footer-form__label {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
