.partners__item {
  width: calc((100% - 2 * 30px) / 2);
  height: 90px;
  margin: 15px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 3 * 30px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 6 * 30px) / 6);
  }
}
.partners__list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.partners__link {
  width: 100%;
  height: 100%;
  align-items: center;
  color: $partners-color;
  display: flex;
  border: 1px solid $partners-color;
  border-radius: 4px;
  justify-content: center;
  transition: color $time-hover $cubic-for-all,
    border $time-hover $cubic-for-all;

  &:hover,
  &:focus {
    color: $color-accent;
    border: 1px solid $color-accent;
  }
}
.partners__logo {
  fill: currentColor;
}
