.title {
  color: $color-title;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  letter-spacing: 0.03em;

  text-align: center;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
}
