:root {
  --main-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
  --main-color: #212121;
  --secondary-color: #ffffff;
  --accent-color: #2196f3;
  --text-color: #757575;
  --icon-color: #afb1b8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
